node_modules/
dist/
build/
vendor/
composer.lock
frontend/test-results/
frontend/playwright-report/
.phalcon
.env
.env.local
*.log
.DS_Store
.idea/
.vscode/
frontend/test-results/*.json
backend/.phpunit.cache/
backend/imports
frontend/tsconfig.tsbuildinfo
